/UnityConsole/UserSettings
/UnityConsole/app
/UnityConsole/Library
/UnityConsole/Logs
/UnityConsole/Temp
/UnityConsole/.vs
/UnityConsole/obj
/ConsoleClient/ConsoleClient/packages
/ConsoleClient/ConsoleClient/.vs
/ConsoleClient/ConsoleClient/ConsoleClient/bin
/ConsoleClient/ConsoleClient/ConsoleClient/obj
/UnityConsoleNetwork/Temp
/UnityConsoleNetwork/UserSettings
/UnityConsoleNetwork/Library
/UnityConsoleNetwork/Logs
